@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

h5 {
    font-size: 30px;
}

label{
    font-family: 'Libre Baskerville', serif;
}

a {
    color: #212529;
}

a:hover {
    text-decoration: none;
    color: green;
}

#about{
    position: relative;
    z-index: 1;
    height: 100vh;
}

#about:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('money.jpg') no-repeat center center/cover;
    opacity: 0.5;
}

.row{
    height: 300px;
}

.card{
    display:none;
}

.card .card-title{
    border-bottom: 2px solid #f0f0f0 ;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture-of-me{
    display: inline-block;
    width: 300px;
    padding: 20px;
    border-radius: 50%;
}

i {
    padding: 5px;
    font-size: 1rem; 
}