{% extends 'base.html' %}

{% load static %}
{% block extra_head %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}"> -->
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        Hello About 
    </div>
</div>

{% block script %}
<!-- <script src="{% static 'journal/app.js' %}"></script>  -->
{% endblock %}

{% endblock content %}