{% extends 'base.html' %}


{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <a class="btn btn-success rounded-circle" href="{% url 'add_journal' %}"><i class="fas fa-plus"></i></a>
    {% for journal in journals %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card h-100 p-2">
                <div class="card-block">
                    <h4 class="card-title">{{ journal.description }}</h4>
                    <h6 class="card-subtitle text-muted"> {{ journal.date|date:"F d, Y" }} </h6>
                    <p class="card-text module-fade p-y-1">{{ journal.content }}</p>
                    <div class="wrap-link" >
                        <a class="btn btn-outline-success card-link" href="{% url 'view_journal' journal.id %}" >View</a>
                        <a class="btn btn-outline-secondary card-link" href="{% url 'edit_journal' journal.id %}">Edit</a> 
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-danger card-link" data-toggle="modal" data-target="#exampleModal{{journal.id}}">
                            Delete 
                        </button>
                        <div class="modal fade" id="exampleModal{{journal.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" ariahidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this Journal?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-danger" href="{% url 'delete_journal' journal.id %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    </div>
</div>
{% block script %}
<script src="{% static 'journal/app.js' %}"></script> 
{% endblock %}

{% endblock content %}