{% extends 'base.html' %}


{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'journal/view.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
     <div class="row justify-content-center ">
        <div class="col">
            <div class="card h-100 p-2">
                <div class="card-block">
                    <h4 class="card-title">{{ journal.description }}</h4>
                    <h6 class="card-subtitle text-muted"> {{ journal.date|date:"F d, Y" }} </h6>
                    <p class="card-text module-fade p-y-1">{{ journal.content }}</p>
                    <div class="wrap-link" >
                        <a class="btn btn-outline-success card-link" href="{% url 'journal' %}" >Back</a>
                        <a class="btn btn-outline-secondary card-link" href="{% url 'edit_journal' journal.id %}">Edit</a> 
                        <button type="button" class="btn btn-outline-danger card-link" data-toggle="modal" data-target="#exampleModal{{journal.id}}">
                            Delete 
                        </button>
                        <div class="modal fade" id="exampleModal{{journal.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" ariahidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this Journal?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-danger" href="{% url 'delete_journal' journal.id %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}