ul {
    list-style-type: none; 
}

table thead th a {
    color: #fff;
    text-decoration: none;
}

table thead th a:hover {
    color:#28a745;
}

table thead th a.nav-link{
    padding: 0;
}

i {
    padding: 5px;
    font-size: 1rem; 
}

span{
    float: right;
}